<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>블로그</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/detail_post.css' %}">
</head>
<body>
  <div class="page-wrapper">
    <div class="page-container">
      <header class="header">
        <h1>{{ post.title }}</h1>
      </header>

      <div class="bar" >
          <h4>조회수: {{post.counting}}</h4>
          <div class="buttons">
            <a class="button" href="{% url 'home' %}">뒤로가기</a>
            <a class="button" href="{% url 'edit_post' post.pk %}">수정하기</a>
            <a class="button" href="{% url 'delete' post.pk %}">삭제하기</a>
          </div>
      </div>

      <div class="content-box">
          <div class="content-main">
            <p>{{ post.content }}</p>
          </div>

          <div class="content-comment">
              <div class="content-comment-button">
                  <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="content" placeholder="댓글을 입력해주세요"/>
                    <button class ="button" type="submit">작성하기</button>
                  </form>
              </div>
              <div class="content-comment-list">
                  {% for comment in post.comments.all %}
                  <li> 
                    <div class="li-left">
                      <span class="name"> | 익명 | </span>
                      <span class="cmt">{{comment.content}}<span>
                    </div>
                    <div class="li-right">
                      <a class ="button" href="{% url 'delete-comment' post.pk comment.pk %}">삭제</a>
                    </div>
                  </li>
                  {% endfor %}
              </div>
          </div>

      </div>

    </div>
  </div>
</body>
</html>